body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(245, 98, 7, 0.645);
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    background: rgb(32, 3, 252);
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(22, 15, 15, 0.462);
    text-align: center;
}

h1{
    color: black;
    border: 20px;
}

input[type="number"]{
    padding: 10x;
    width: 150px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type="button"]{
    padding: 15px 25px;
    margin-top: 15px;
    background-color:rgb(13, 0, 255);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: red;
}